# Data Cleaning

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
df = pd.read_csv('kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [20]:
display(df.describe())
df.info()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

### transform from square feet to meters by: sqft/10.764

In [21]:
df['meters_living'] = df['sqft_living']/10.764
df['meters_lot'] = df['sqft_lot']/10.764
df['meters_above'] = df['sqft_above']/10.764
df['meters_basement'] = df['sqft_basement']/10.764

In [22]:
df = df.drop(['sqft_lot15', 'sqft_living15', 'zipcode', 'id', 'date', 'yr_renovated', 'sqft_living', 'sqft_lot', 'sqft_above', 'sqft_basement'], axis=1)
df.head()

,price,bedrooms,bathrooms,floors,waterfront,view,condition,grade,yr_built,lat,long,meters_living,meters_lot,meters_above,meters_basement
0,221900.0,3,1.00,1.0,0,0,3,7,1955,47.5112,-122.257,109.624675,524.897808,109.624675,0.000000
1,538000.0,3,2.25,2.0,0,0,3,7,1951,47.7210,-122.319,238.758826,672.798216,201.597919,37.160907
2,180000.0,2,1.00,1.0,0,0,3,6,1933,47.7379,-122.233,71.534745,929.022668,71.534745,0.000000
3,604000.0,4,3.00,1.0,0,0,5,7,1965,47.5208,-122.393,182.088443,464.511334,97.547380,84.541063
4,510000.0,3,2.00,1.0,0,0,3,8,1987,47.6168,-122.045,156.075808,750.650316,156.075808,0.000000

In [23]:
df.to_csv('cleaner_data.csv')

# Machine Learning

In [37]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [40]:
dtr = DecisionTreeRegressor()
lr = LinearRegression()

In [41]:
x = df.drop('price', axis=1)
y = df['price']

In [42]:
x_train, x_test, y_train, y_test = train_test_split(x,y)
y_test

10564     195000.0
7415     1975000.0
13180     335000.0
2517      166000.0
740       360000.0
           ...
804       385200.0
2660      523000.0
6287      890000.0
15304     535000.0
14711     352500.0
Name: price, Length: 5404, dtype: float64

In [43]:
lr.fit(x_train, y_train)

LinearRegression()

In [46]:
y_pred = lr.predict(x_test)
y_pred

array([ 233873.57299531, 1200386.46088719,  512320.03441261, ...,
        977548.49963079,  713774.82459306,  328220.03682878])

In [47]:
r2_score(y_test, y_pred)

0.6946289812656086

In [50]:
import pickle

filename = 'linear_model.pkl'
pickle.dump(lr, open(filename, 'wb'))

In [51]:
loaded_model = pickle.load(open(filename, 'rb'))
loaded_model

LinearRegression()